.Register-dialog{
    margin-top: 70px;
    padding: 0;
    border-radius: 10px;
    border: none;
}

/* Với Edge/IE */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

/* Với Chrome/Safari (Webkit) */
input[type="password"]::-webkit-textfield-decoration-container {
  display: none;
}

.Register-header{
    position: relative;
    padding: 20px 120px 20px 120px;
    background-color: rgb(45, 194, 117);
}
.Register-header span{
    font-size: 20px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.Register-closebtn{
  position: absolute;
    top: 10px;
    right: 5px;
    width: 25px;
    height: 25px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 100%;
   background-color:transparent;
   padding: 0px 0px 1px 0px;
}
.Register-body{
    padding: 30px;
}
.form-field{
    width: 100%;
}
.form-input{
    position: relative;
    padding: 3px 5px 3px 10px;
    width: 95%;
     border-radius: 3px;
   border:1px solid rgb(129, 122, 122);
   display: flex;
   align-items: center;
}
.form-input.input-valid{
   border:1px solid rgb(21, 110, 189);
}
.form-input.input-error{
   border:1px solid #ff4d4f
}
.form-error{
    margin-top: 3px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color:#ff4d4f;
}
.password-rules{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
.passrules-invalid{
    border: red 1px solid ;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}
.passrules-valid{
    border: rgb(45, 194, 117) solid 1px;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}
.icon-invalid{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 10px;
    background-color: rgb(255, 66, 78);;
    width: 15px;
    height: 15px;
    border-radius: 100%;
}
.icon-valid{
     display: flex;
    justify-content: center;
    color: white;
    font-size: 10px;
    background-color: rgb(45, 194, 117);
    width: 15px;
    height: 15px;
    border-radius: 100%;
}
.pass-summary{
    align-items: center;
    display: flex;
    gap: 2px;
}
.pass-summary p{
color: rgb(217, 56, 67);
font-size: 14px;
font-weight: bold;
font-family:Arial, Helvetica, sans-serif;
}
.rule-invalid{
     display: flex;
    justify-content: center;
    color: white;
    font-size: 8px;
    background-color: rgb(255, 66, 78);;
    width: 11px;
    height: 11px;
    border-radius: 100%;
}
.rule-valid{
     display: flex;
    justify-content: center;
    color: white;
    font-size: 8px;
    background-color: rgb(45, 194, 117);
    width: 11px;
    height: 11px;
    border-radius: 100%;
}
.pass-rule{
    margin-bottom: 10px;
    margin-left: 10px;
    align-items: center;
    display: flex;
    gap: 3px; 
}
.loginbtn{
   margin-top: 10px;
   cursor: pointer;
   width: 100%;
   padding: 10px;
   background-color: rgb(221, 221, 227);
   border: none;
   border-radius: 3px;
   font-size: 17px;
   color:rgb(108, 110, 112);
   font-family:Arial, Helvetica, sans-serif;
}
.loginbtn.enable{
     background-color: rgb(45, 194, 117);
     color: white;
}
.loginbtn.disable{
    cursor:not-allowed;
}
