.morecontent{
    background-color: black;
}
.contain{
   display: flex;
   justify-content: center;
}
.Result{
    display: flex;
    justify-content: space-between;
    padding: 50px 200px 10px 150px;
}
.Result span{
    color: #2DC275;
    font-family: Arial, Helvetica, sans-serif;

}
.empty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.empty span{
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.empty img{
    width: 120px;
    height: 120px;
}
.empty p{
    color:white;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
.filter{
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 10px 5px 10px;
    border-radius: 100px;
    background-color: #2DC275;
}
.filter span{
    color: white;
}
.filterform{
    z-index: 10;
    width: 750px;
    position: absolute;
    right: 0;
    top: 35px;
    border-radius: 8px;
    padding: 10px;
    background-color: white;
}
.filterform span{
    color: black;
    font-weight: bold;
    font-size: 15px;
}
.radiobt{
    display: flex;
    gap: 3px;
}

.radiobt span{
    margin-top: 5px;
    color: rgb(56, 51, 51);
    font-weight: lighter;
}
.Locate{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.dashed-line {
  border: none;             /* bỏ border mặc định */
  border-top: 1px dashed gray; /* gạch ngang đứt đoạn */
  margin: 20px 0;            /* khoảng cách trên dưới */
}

.category{
    margin-top: 10px;
    display: flex;
    gap: 5px;
}
.categorybutton{
    cursor: pointer;
    padding: 8px 12px 8px 12px;
    background-color: #ffffff;
    border: rgb(68, 58, 58) 1px solid;
    border-radius: 100px;
}
.categorybutton:hover{
    color: #1677ff;
}
.categorybutton:focus{
    color: white;
    background-color: #2DC275;
    border: none;
}
.confirmfilter{
    width: 100%;
    margin:15px 15px 15px 0px;
    padding: 10px;
    color: white;
    border-radius: 3px;
    background-color: #2DC275;
    border: none;
}
.recomcontent{
   padding: 10px;
   display: flex;
   justify-content: center;
}
.Recommend {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Recommend span{
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
