.detail{
   background: linear-gradient(to bottom, rgb(39,39,42) 48.04%, rgb(0,0,0) 100%);
    display: flex;
    padding: 30px;
    justify-content: center;
}
.detailcontain{
    width: 100%;
    justify-content: center;
    display: flex;
    position: relative;
}
.detailpic{
    width: 800px;
    height: 450px;
}
.detailpic img{
    border-radius: 25px;
    width: 100%;
    height: 100%;  
}
.detailtop{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.detailbot{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.detailticket{
    max-height: 400px;
    padding: 30px;
    width: 420px;
    border-radius: 25px;
    background-color: rgb(56, 56, 61);
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.detailtitle{
    line-height: 1.3;
    color:white;
    font-weight: bold;
    font-size: 18px;
    font-family: sans-serif;
}
.detaildate{
    align-items: center;
    display: flex;
    gap: 3px;
}
.detaildate path{
   color: white;
}
.detaildate span{
    color: rgb(45, 194, 117);
    font-family:sans-serif;
    font-weight: bold;
    font-size: 14px;
}
.detaillocate{  
    display: flex;
    gap: 3px;
}
.detaillocate svg{
    height: 30px;
}
.detaillocate path{
    color:white;
}
.detaillocate span{
    color: rgb(45, 194, 117);
     font-family:sans-serif;
    font-weight: bold;
    font-size: 13px;
}
.detailadd{
    margin-top: 5px;
   color: rgb(196, 196, 207);
   font-size: 13px;
   font-family:sans-serif;
}
.detailprice{
    padding: 15px 0px 0px;
    border-top: 1px rgb(196, 196, 207) solid;
}
.detailprice span{
       color: rgb(45, 194, 117);
       font-size: 24px;
       font-family: serif;
       font-weight: bold;
}
.buyticket{
    padding: 8px;
    width: 100%;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    color: white;
    cursor: pointer;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color:rgb(45, 194, 117); ;
}
.buyticket.ispast{
    background-color: rgb(121, 125, 129);
}
.buyticket:hover{
    background-color: white;
    color: black;
}
.circletop{
  background-color: rgb(39, 39, 42);
  position: absolute;
  top: -30px;
  left: 37%;
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
.circlebottom{
    background-color: rgb(2, 2, 3);
  position: absolute;
  bottom: -30px;
  left: 37%;
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
.line{
    position: absolute;
    left: 564px;
}
.info{
    padding:10px 0 0px 0px;
    background-color:rgb(2, 2, 3);
}
