.Schedule{
    width: 920px;
    margin-left: 110px;
    margin-top: 10px;
    border-radius: 10px;
    overflow: hidden;
}
.ScheduleHead{
    padding:20px;
    background-color: #23252C;
}
.ScheduleBody{
    background-color: #31353E;
    padding: 10px 20px 20px 20px;
}
.ScheduleHead span{
    color:rgb(45, 194, 117) ;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bolder;
}
.ScheduleDay{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ScheduleDate{
    width: 200px;
   padding: 10px;
   display: flex;
   gap: 3px;
   flex-direction: column;
}
.ScheduleDate span{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
.btsche {
    cursor: pointer;
    padding: 8px 38px 28px 38px;
    height: 30px;
    font-size: 17px;
    color: white;
    background-color: rgb(45, 194, 117);
    border:none;
    font-weight: bold;
    border-radius: 3px;
}
.ticketday{
    color:rgb(45, 194, 117) !important; 
    font-weight: bold;
}
.ticketinfo{
    background-color: #414652;
    padding: 15px 15px 15px 30px;
    border:1px solid rgb(142, 133, 133);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.Ticketsinfo {
    margin-top:15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.Ticketsinfo span{
color: white;
font-size: 15px;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
}
.ticketprice span{
    color:rgb(45, 194, 117) !important; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}
.btsche:hover {
    color:black;
    background-color: white;
}
.btsche.isPast{
    background-color: rgb(121, 125, 129);
    cursor: not-allowed;
}
.Organizer{
    margin-top: 25px;
    border-radius: 10px;
    width: 920px;
    overflow: hidden;
    margin-left: 110px;
}
.OrganizerHead{
    padding: 15px;
    background-color: #23252C;
}
.OrganizerHead span{
     color:rgb(45, 194, 117) ;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bolder;
}
.OrganizerBody{
    display: flex;
    gap: 20px;
    background-color: #31353E;
}
.OrganizerBody img{
    width: 150px;
    height: 150px;
    border-radius: 10px;
}
.OrganizerBody{
    padding: 10px;
}
.Organizerinfo span{
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.Organizerinfo p{
    color: white;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
