.BookTicket{
    position: relative;
    min-height: 85vh;
}
.backgroundimg{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 0;
}
.BookHead{
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 25px 180px 55px 180px;
  background: rgba(255, 255, 255, 0);
  -webkit-backdrop-filter: blur(10px); 
  backdrop-filter: blur(10px);         
}
.BookHead span{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}
.BookInfo{
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    width: 100%;
    padding-top: 20px;
    padding-bottom: 25px;
}
.BookDate{
    display: flex;
    gap: 10px;
    align-items: center;
}
.BookDate svg{
    color: white;
}
.BookDate span{
    font-size: 16px;
}
.BookLocate{
    display: flex;
    gap: 8px;
    align-items: center;
}
.BookLocate svg{
    height: 30px;
    color: white;
}
.BookLocate span{
    margin-top: 5px;
    font-size: 16px;
}
.BookBody{
    display: flex;
    gap: 15px;
    position: relative;
    z-index: 10;
    background-color: #000000;
    padding: 30px 180px 10px 180px;
}
.Payment{
    width: 900px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.radiopayment{
    -webkit-appearance: none;
      appearance: none;
    width: 20px;
    height: 20px;
    border: gray solid 1px;
    background: white;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
}
.radiopayment:hover{
    border: 1px solid #2DC275;
}
.radiopayment:checked{
     border: 6px solid #2DC275;
}
.Payment span{
    color: #2DC275;
    font-size: 19px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.ticketreceive{
    margin-top: 20px;
    background-color: #38383D;
    padding: 15px 15px 0px 15px;
    border-radius: 12px;
}
.ticketreceive span{
    color:#2DC275;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.ticketreceive p{
    width: 400px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.6;
}
.PaymentMethod{
    border-radius: 12px;
    background-color: #38383D;
    padding: 15px;
}
.PaymentMethod span{
    color:#2DC275;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
}
.Method{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.apppayment{
    display: flex;
    gap: 10px;
    align-items: center;
}
.apppayment img{
    width: 30px;
    height: 30px;
}
.apppayment input{
    width: 20px;
    height: 20px;
}
.apppayment span{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
}
.PaymentInfo{
    padding: 15px;
    background-color: white;
    margin-top: 54px;
    border-radius: 12px;
}
.Paymentinfo{
   color: #000000;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bolder;
   font-size: 15px;
}
.PaymentInfoform{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}
.titleInfoPrice{
    display: flex;
    justify-content: space-between;
}
.titleInfoPrice span{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.infoandprice{
    margin-top: 10px;
    gap: 5px;
    display: flex;
    flex-direction: column;
}
.infoprice{
    display: flex;
    justify-content: space-between;
}
.Orderinfo{
    margin-top: 15px;
    background-color: white;
    border-radius: 12px;
    padding: 15px 15px 0px 15px;
}
.Orderinfo span{
    color: black;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.Subtotal{
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
}
.Subtotal span{
    font-weight: 100;
}
.Total{
    border-top: 1px dashed black;
    padding: 25px 0px 15px 0px;
}
.totalform{
    display: flex;
    justify-content: space-between;
}
.pricetotal{
    color: #2DC275!important;
    font-size: 16px!important;
}
.PaymentButton{
    cursor: pointer;
    padding: 10px 15px 10px 15px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: white;
    background-color: #2DC275;
    width: 100%;
    border: none;
}
.PaymentButton.Success{
    background-color: gray!important;
    cursor: not-allowed;
}
.PaymentButton:hover{
    background-color: #28a166;
}
