.contentbuy{
    background-color: #000000;
    display: flex;
   padding-left: 50px;
  align-items:flex-start;
    justify-content: space-between;
}
.contentbuy span{
     color: #2DC275;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.ReturnBt{
    cursor: pointer;
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.ReturnBt span {
    color: #2DC275;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.aside span{
    color: white;
}
.asidehead{
    width: 350px;
    padding: 10px 50px 10px 10px;
    background-color: #27272A;
}
.asidehead span{
    width: 100px;
}

.asidebody{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 10px 20px 10px;
    background-color: #38383D;
}
.asidedate{
    display: flex;
    align-items: center;
    gap: 2px;
}
.asidedate svg{
    color: white;
}
.asidedate span{
    font-size: 12px;
}
.asidelocate{
    display: flex;
    align-items: center;
    gap: 5px;
}
.asidelocate svg{
    height: 30px;
    color: #2DC275;
}
.asidelocate span{
font-size: 12px;
}
.asideprice{
    height: 430px;
    padding: 20px 10px 10px 10px;
    background-color:#38383D ;
    border-top:1px solid rgb(81, 81, 88)
}
.typetickform{
    display: flex;
    flex-direction: column;
}
.tickettype{ 
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.tickettype span{
    font-size: 12px;
}
.price{
    color: #2DC275!important;
}
.Buyticket{
    padding: 10px 20px 20px 20px ;
    background-color:#27272A;
}


.pricetype{
    gap: 5px;
    display: flex;
    flex-direction: column;
}
.pricetype span{
    color: white;
}
.ticketform{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.infoticket{  
    padding: 15px;
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  border-bottom:   1px dashed rgb(128, 128, 137);
}
.Choseticket{ 
    margin-bottom: 20px;
}
.quantity{
    display: flex;
    gap: 2px;
}
.quantitybt{
    padding: 10px 23px 10px 23px;
    border: none;
    border-radius:5px;
    background-color: white;
}
.countable{
    cursor: pointer;
    padding: 10px 18px 10px 18px;
    border: 1px solid #2DC275;
    border-radius:5px;
    color: #2DC275;
}
.countdisable{
    padding: 10px 18px 10px 18px;
    border: none;
    border-radius:5px;
    background-color: white;
}
.chosenticket{
 display: flex;
 gap: 10px;
 align-items: center;
 padding: 5px;
 margin-bottom: 5px;
}
.buyable{
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    padding: 12px;
    border: none;
    border-radius: 3px;
    width: 100%;
    background-color: #2DC275;
    color: white;
}
.buydisable{
    font-size: 14px;
    color:#808089;
    font-weight: bold;
    background-color: #DDDDE3;
    padding: 12px;
    border: none;
    border-radius: 3px;
    width: 100%;
}
