.gridsearch{
  padding: 5px;
   cursor: pointer;
   position: relative;  
}
.gridsearch img{
     width: 250px;
   height: 150px;
    border-radius: 10px;
    border: none;
}
.gridsearch strong{
    color: #54c273;
}
.gridsearch h3{
    width: 200px;
    color: white;
  height: 20px;
   font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.gridsearch span{
     font-family: Arial, Helvetica, sans-serif;
     font-size: 14px;
    color: white;
}