@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
header h1{
  font-family: Comfortaa;
    color:white;
  font-size: 40px;
  margin-left: 100px;
}
body{
    padding: 0;
    margin: 0;
}
header{
    background-color: #2DC275;
    width: 100%;
}
nav{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.search-container{
    width: 270px;
    height: 30px;
     background-color: white;
    padding:5px 45px 5px;
    border-radius: 5px;
    position: relative;
    display: flex;
    align-items: center;
}
header input {
    line-height: 30px;
    outline: none;
    border: none;
    width: 200px;
}
#searchIcon{
    position: absolute;
    left: 15px;
    top: 10px;
    width: 20px;
    height: 20px;
    z-index: 10;
}
.search-container span {
    position: absolute;
    right: 100px;
  width: 1px;
  height: 20px;
  background-color: #ccc;
  
}
.search-container button{
    font-size: 15px;
   font-weight: 400;
    top:50%;
    transform: translateY(-53%);
   position: absolute;
   right:10px;
    cursor: pointer;
    border: none;    
    background: none;
}
header button:focus {
  outline: none;
}
.eventCreate{
    margin-top: 1px;
    font-size: 15px;
    width: 150px;
    height: 40px;
    border-radius: 100px;
    background:none;;
    border:1px solid white;
    color:white;
}
.eventCreate:hover{
    background-color: white;
    color: black;
    transition: 0.3s;
}
.eventdiv{
    display: flex;
    align-items: center;
}
.linkmyticket{
    text-decoration: none;
    display: flex;
}
.MyTicket{
   align-items: center;
    display: flex;
}
.MyTicket img{
     cursor: pointer;
    width:30px;
    height:30px;
   
}
.MyTicket button{
     cursor: pointer;
    padding:10px 10px;
    background:none;
    border:none;
    color:white;
    font-size: 15px;
}
.account{
    cursor: pointer;
    position: relative;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.account:hover{
   background-color:rgba(0,0,0,0.125);
}
.account:hover .accountform{
    display: block;
}
.account img{
    width:30px;
    height:30px;
    border-radius: 100%;
}
.accounttext{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}
.accountform{
     left: -35px;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    z-index: 7;
    top: 50px;
}
.accountform button{
    display: flex;
    width: 100%;
    align-items: center;
    gap:10px;
    padding: 10px;
    color: black;
    font-weight: lighter;
    background:none;
    border:none;
    font-size: 14px;
    cursor: pointer;
}
.accountform span{
    font-size: 15px;
    font-weight: lighter;
    width: 120px;
    text-align: left;
}
.accountform button:hover{
    background-color: #f2f2f2;
}
.Login{
    align-items: center;
    display: flex;
}
.Login button{
    font-weight: bold;
    cursor: pointer;
    padding: 0 5px;
    background:none;
    border:none;
    color:white;
    font-size: 15px;
}
.Login span{
    width: 2px;
    height: 25px;
    background-color: white;
}
.Language{
    z-index: 10;
    position: relative;
    border-radius: 8px;
    padding:0px 10px 0px 10px ;
    align-items: center;
    display: flex;

}
.Language img{
    width:25px;
    height:25px;
    cursor: pointer;
    border-radius: 5px;
}
.Language button{
    cursor: pointer;
    padding: 10 15px;
    background:none;;
    border:none;
    color:white;
    font-size: 10px;
}
.Language:hover{
   background-color:rgba(0,0,0,0.125);
 transition: background-color 0.3s;
}
.Language:hover .Choose{
    display: block;
}
.Choose{
    right:-5px;
    position: absolute;
    top: 50px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}
.Choose button{
    display: flex;
    align-items: center;
    gap:15px;
    padding: 10px;
    color: black;
    background:none;
    border:none;
    font-size: 12px;
    cursor: pointer;
}
.Choose span{
    text-align: left;
    font-size: 13px;
width: 60px;
}
.Choose button:hover{
    background-color: #f2f2f2;
}
.MyLink{
    color: black;
    text-decoration: none;
}
.headavatar{
    object-fit: cover;
}
