.Myticket{
    background-color:#27272a;
}
.Mytickettitle{
    justify-self: center;
    width: 60%;
    border-bottom: 1px solid rgb(56, 56, 61);
    padding: 80px 0px 10px 0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
}
.emptyticket img{
   width: 250px;
   height: 250px;
}
.emptyticket {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
    padding-bottom: 50px;
    color: rgb(175, 184, 201);
    font-family: Arial, Helvetica, sans-serif;
}
.myticketdetail{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    padding: 50px;
    justify-content: center;
}
.mydetailcontain{
    width: 100%;
    display: flex;
    position: relative;
}
.myticketpic{
    position: relative;
    width: 75%;
    height: 320px;
}
.myticketpic img{
    border-radius: 25px;
     width: 100%;
    height: 100%;
}
.myticketinfo{
    padding: 20px;
    width: 45%;
    border-radius: 25px;
    background-color: rgb(56, 56, 61);
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.typetick{
    width: 100%;
    height: 30px;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    border-bottom: 1px solid rgb(45, 194, 117);
}
.mydetailtitle{
    width: 100%;
    height: 40px;
    line-height: 1.3;
    color:white;
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
}
.mydetaildate{
    margin-top: 40px;
    align-items: center;
    display: flex;
    gap: 3px;
}
.mydetaildate path{
   color: white;
}
.mydetaildate svg{
    width: 20px;
    height: 20px;
}
.mydetaildate span{
    color: rgb(45, 194, 117);
    font-family:sans-serif;
    font-weight: bold;
    font-size: 14px;
}
.mydetaillocate{
    display: flex;
    gap: 3px;
}
.mydetaillocate svg{
    width: 30px;
    height: 20px;
}
.mydetaillocate path{
    color:white;
}
.mydetaillocate span{
    color: rgb(45, 194, 117);
     font-family:sans-serif;
    font-weight: bold;
    font-size: 13px;
}
.mydetailadd{
    margin-top: 5px;
   color: rgb(196, 196, 207);
   font-size: 13px;
   font-family:sans-serif;
}
.mycircletop{
  background-color: rgb(39, 39, 42);
  position: absolute;
  top: -30px;
  left: -7.5%;
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
.mycirclebottom{
    background-color: rgb(39, 39, 42);
  position: absolute;
  bottom: -30px;
  left: -7.5%;
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
.myline{
    position: absolute;
    left: -0.8%;
    height: 100%;   
}
.info{
    padding:10px 0 0px 0px;
    background-color:rgb(2, 2, 3);
}