.Navmenu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    padding: 20px 150px 20px;
    background-color: black;
    color: white;
}
.link{
    text-decoration: none;
    color: white;
}
.Navmenu span{
    cursor: pointer;
    text-decoration: none;
   font-family: 'Poppins', sans-serif;
   font-size: 14px;
}
.Navmenu span:hover{
    color: #54c273;
    transition: 0.3s;
}